% rebase("HTML",load="tailwind vue websocket pylibs")

<%
# 1. SimpleTemplate syntax

#  this will allow to execute some pyhton code one the server side
#  before rendering the html document to the client like a webbrowser
#  see documentation at https://bottlepy.org/docs/0.12/stpl.html

# use % for starting a simple line of pyhton code e.g. %rebase("HTML")
# use <% %> delimiters for inserting a python code block e.g. here
# use {% %} delimiters for inserting python data into the html document

#  note that comparing with the initial bottle.py SimpleTemplate syntax
#  the {{ }} delimiters have been replaced by {% %} avoiding conflict with Vue
%>

<script type="text/javascript">
  vuedata = {

    // 2. Set all needed data within Vue here

    //  Vue allows simple and dynamic capabilities between data and html
    //  note that the python dictionnary syntax can be used here as follow
    //  see documentation at https://v3.vuejs.org/guide/introduction.html#what-is-vue-js

    'example1': "get coding full power at the light speed",
    'example2': {% python_data_from_server %},
  }
</script>

<script type="text/python">

  # 3. Python code can be executed within the webbrowser

  #  here you can use python instead of javascript for processing html content
  #  note that this is nothing to do with the python code executed on the server side
  #  keep in mind too that this code is loaded and executed at last within the html
  #  see documentation at https://brython.info/

  # there are two main advantages of coding in this way:
  #   - you don't need javascript which is good for newbies or maintenance
  #   - you can use most of the python standard modules which is just amazing!

  from browser import window
  from calendar import isleap

  window.vuedata.example1 = "Oups! I changed my initial sentence"
  february_days = 29 if isleap(2020) else 28  

</script>

<!--
  4. Write the html content

   you don't need usual <body></body> markup because your are already in
   note that default Vue3 capabilities are available only into <div id="vue"></div>
   consider websocket for exchanging data with database (not yet implemented here)

   related to Html see documentation at https://www.w3schools.com/html/default.asp
   related to Css see documentation at https://tailwindcss.com/
-->
<div id="vue">

  <h1 class="text-3xl">I'm the webpage title</h1>
  <i>{{ example1 }}</i> <!-- insert here a Vue data -->

  <h2 class="text-xl">I'm a first paragraph</h2>
  <p>bla bla bla</p>

  <h2 class="text-xl">I'm a second paragraph</h2>
  <p>{{ example2 }}</p> <!-- insert here a server side data via Vue -->

  <h2 class="text-xl">Here update again and dynamically example1</h2>
  <input v-model="example1" placeholder="I feel the full power back here"/>

</div>
