<!SWEETHEART html>

<python>
createVueApp(
  gestionnaires = ["maintenance mécanique","mainenance élec. instrum.","service informatique"],
  priorité = ["immédiate","dans les 24hr","dans les 48hr","prochain arrêt","à planifier"] )
</python>

<vue class="p-14 max-w-screen-sm m-auto">

  <h1 class="text-3xl">Quelle est votre problématique ?</h1>
  <hr class="mt-1" />

  <div class="grid grid-cols-4 mt-9">

    <input class="sw col-span-full" placeholder="description de la demande" />

    <select class="sw col-span-2 my-1" >
      <option disabled selected hidden>gestionnaire</option>
      <option v-for="g in gestionnaires">{{g}}</option>
    </select>

    <select class="sw col-span-1 my-1 ml-1"></select>

    <select class="sw col-span-1 my-1 ml-1">
      <option disabled selected hidden>priorité</option>
      <option v-for="p in priorité">{{p}}</option>
    </select>

    <textarea class="sw col-span-4 h-36 mt-3 mb-5"
      placeholder="précisions et détail de la demande"></textarea>
  </div>

  <div class="text-center nb-6">
    <button class="sw">OK</button>

  </div>

<vue>
