<%
rebase("HTML",load="tailwind")
cls_btn_colors = "bg-pink-400 hover:bg-pink-500"
cls_input = "px-1 py-1 border focus:outline-none focus:border-pink-600"
%>

<form class="p-14 max-w-screen-sm m-auto" method="POST">
  <h1 class="text-3xl">Quelle est votre problématique ?</h1>
  <hr class="mt-1" />
  <div class="grid grid-cols-4 mt-9">
    <input class="col-span-full {%cls_input%}" placeholder="description de la demande" />
    <select class="col-span-2 my-1 {%cls_input%}" >
      <option disabled selected hidden>gestionnaire</option>
      <option>maintenance mécanique</option>
      <option>mainenance élec. instrum.</option>
      <option>servicee informatique</option>
    </select>
    <select class="col-span-1 my-1 ml-1 {%cls_input%}"></select>
    <select class="col-span-1 my-1 ml-1 {%cls_input%}">
      <option disabled selected hidden>priorité</option>
      <option>immédiate</option>
      <option>dans les 24hr</option>
      <option>dans les 48hr</option>
      <option>à planifier</option>
    </select>
    <textarea class="col-span-4 h-36 mt-3 mb-5 {%cls_input%}"
      placeholder="précisions et détail de la demande"></textarea>
  </div>
  <div class="text-center">
    <input type="submit" value="OK"
      class="mt-7 py-2 px-14 rounded-md text-white {%cls_btn_colors%}"/>
  </div>
</form>
