<%
rebase("HTML",load="tailwind")
cls_h_color = "text-pink-500"
cls_a_colors = "text-pink-300 hover:text-pink-500"
cls_btn_colors = "bg-pink-400 hover:bg-pink-500"
cls_input = "px-3 py-2 border focus:outline-none focus:border-pink-600"
%>

<form class="p-14 space-y-2 max-w-lg m-auto" method="POST">
  <h1 class="text-4xl italic text-center mt-3 mb-9 {%cls_h_color%}">Sweetheart</h1>

  <input id="email-address" name="email" type="email" autocomplete="email" required placeholder="Email address"
    class="w-full rounded-t-md {%cls_input%}" />

  <input id="password" name="password" type="password" autocomplete="current-password" required placeholder="Password"
    class="w-full rounded-b-md {%cls_input%}" />

  <input id="remember_me" name="remember_me" type="checkbox" class="h-6 w-4 float-left" />
  <label for="remember_me" class="float-left ml-1 text-gray-900"> Remember me </label>
  <a href="#" class="float-right {%cls_a_colors%}"> Forgot your password? </a>

  <div>
    <button type="submit" 
      class="w-full mt-7 py-2 px-4 rounded-md text-white {%cls_btn_colors%}">
      Sign in</button>
  </div>
</form>
