%rebase("HTML")

<script type="text/javascript">
  vuedata = { v: {
    test_vue: "test Vue: SUCCESS",
    "test_brython": "test Vue and Brython: FAILED"
  }}
</script>

<script type="text/python">
  from browser import window, document
  document["test_brython"].innerText = "test Brython: SUCCESS"
  window.v.test_brython = "test Vue and Brython: SUCCESS"
</script>

<div id="vue" class="p-14 space-y-2 max-w-screen-sm m-auto">
  <h1 class="text-3xl text-pink-500 italic">HTML tests</h1>
  <hr>
  <p>loading: <i>{% __load__ %}</i></p>
  <p>{{ v.test_vue }}</p>
  <p id="test_brython">test Brython: FAILED</p>
  <p>{{ v.test_brython }}</p>
</div>
