<!SWEETHEART html>

<python>
from datetime import datetime
y = datetime.now().year

def vue_created(data):

    r.table("people").filter({"manager":"Tom Leader"}).setVueAtrr("people")

createVueApp({
    years: [y+1,y,y-1,y-2],
    user: "",
    people: [],
})
</python>

<div c-cloak id="VueApp">

  <select id="year" v-model="year">
    <option v-for="year in years">{{year}}</option>
  </select>

  <select id="user" v-model="user">
    <option>{{user}}</option>
    <optgroup label="Mon équipe">
      <option v-for="user in users">{{user}}</option>
    </optgroup>
  </select>

  <div class="grid md:grid-cols-6 grid-cols-3">
    <table v-for="month in 12" class="col-span-1">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="day in 31">
          <td>
            <label>{{ days_labels[new Date(year,month,day).getDay()] }}
              <select v-bind:id="" v-on:change="update" >
                <option v-for="option in options">{{ option }}</option>
              </select>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
