<!SWEETHEART html>

<h1>Sweetheart</h1>
<p><em>système expert pour données critiques</em></p>

<h2>Gardez le contrôle</h2>
<p></p>

<h2>Performances au coeur</h2>
<p></p>

<h2>Evolutivité sans égal</h2>
<p></p>

<h2>Support à long terme</h2>
<p></p>

<h2></h2>
<p>Votre solution dédiée est construite sur un ensemble réduit d'outils open-source éprouvés et rigoureusement choisis, s'exécute nativement sur tout système linux de type debian/ubuntu. Sur cette base il sera aussi simple de déployer votre solution localement sur des serveurs propres que via les nombreuses solutions cloud privées ou publiques proposées par le marché. Par défaut à l'heure actuelle et pour des questions d'indépendance numérique, les offres de type Virtual Private Servers d'OVH et pCloud sont à privilégier.</p><p>Vous vous apprêtez à utiliser la solution de développement en entreprise la plus puissante et la plus efficace du moment. Concentrez-vous sur l'essentiel, Sweetheart fera le reste.</p>
